/*region Generali  */
* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}

/* Elemento radice */
:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --darker:#131a26;
  --lighter: white;
}

body {
  font-family: 'Fira Sans', sans-serif;
}
/*endregion */



/* Regola generale */











